#notificationSpan {
  background-color: red;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
